@using ShopApp.Models
@{
    ViewBag.Title = "OrderSuccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>Your Order has been Processed Successfully click @Html.Action("Here", "Index", "Products") to Go back to the Shop</h2>*@

<h2>Successfully ordered Click <a href="/Home/Index"> Here </a> to Proceed</h2>

